// app global css in SCSS form

.text-brand {
  color: #08597b !important;
}
.bg-brand {
  background: #257cd9 !important;
}
.bg-favorite {
  background: #13c010;
}
.bg-focus {
  background: #0493e6;
}
